<!DOCTYPE html>
<html lang="tr" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/admin/admin.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    @await RenderSectionAsync("Head", false)
</head>
<body class="h-100">
    
    <div class="h-100 d-flex">
        <div>
            <div class="side-nav">
                <nav class="navbar navbar-dark bg-secondary border-dark border-bottom shadow-sm">
                    <a asp-controller="Dashboard" asp-action="Index" class="navbar-brand">
                        <b>Theia</b>Commerce
                    </a>
                </nav>
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <div class="p-2 small text-light">Genel</div>
                    <a class="nav-link text-white" data-controller="Dashboard" asp-controller="Dashboard" asp-action="Index">
                        <i class="fa fa-fw fa-chart-line"></i> Dashboard
                    </a>
                    <div class="p-2 small text-light">Katalog</div>
                    <a class="nav-link text-white" data-controller="Categories" asp-controller="Categories" asp-action="Index">
                        <i class="fa fa-fw fa-cubes"></i> Kategori Tanımları
                    </a>
                    <a class="nav-link text-white" data-controller="Brands" asp-controller="Brands" asp-action="Index">
                        <i class="fa fa-fw fa-flag"></i> Marka Tanımları
                    </a>
                    <a class="nav-link text-white" data-controller="VariantGroups" asp-controller="VariantGroups" asp-action="Index">
                        <i class="fa fa-fw fa-code-branch"></i> Varyant Gurubu Tanımları
                    </a>
                    <a class="nav-link text-white" data-controller="Variants" asp-controller="Variants" asp-action="Index">
                        <i class="fa fa-fw fa-code"></i> Varyant Tanımları
                    </a>
                    <a class="nav-link text-white" data-controller="Products" asp-controller="Products" asp-action="Index">
                        <i class="fa fa-fw fa-gift"></i> Ürün Tanımları
                    </a>
                    <div class="p-2 small text-light">İçerik</div>
                    <a class="nav-link text-white" data-controller="Banners" asp-controller="Banners" asp-action="Index">
                        <i class="fa fa-fw fa-image"></i> Tanıtım Görselleri
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-fill d-flex flex-column bg-light">
            <nav class="navbar navbar-light bg-white navbar-expand-lg border-bottom shadow-sm">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNav">
                    <a class="navbar-brand d-md-none"><b>Theia</b>Commerce</a>
                    <ul class="nav navbar-nav d-md-none">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                Genel
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-controller="Dashboard" asp-controller="Dashboard" asp-action="Index">
                                    <i class="fa fa-fw fa-chart-line"></i> Dashboard
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                Katalog
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-controller="Categories" asp-controller="Categories" asp-action="Index">
                                    <i class="fa fa-fw fa-cubes"></i> Kategori Tanımları
                                </a>
                                <a class="dropdown-item" data-controller="Brands" asp-controller="Brands" asp-action="Index">
                                    <i class="fa fa-fw fa-flag"></i> Marka Tanımları
                                </a>
                                <a class="dropdown-item" data-controller="VariantGroups" asp-controller="VariantGroups" asp-action="Index">
                                    <i class="fa fa-fw fa-flag"></i> Varyant Gurubu Tanımları
                                </a>
                                <a class="dropdown-item" data-controller="Variants" asp-controller="Variants" asp-action="Index">
                                    <i class="fa fa-fw fa-flag"></i> Varyant Tanımları
                                </a>
                                <a class="dropdown-item" data-controller="Products" asp-controller="Products" asp-action="Index">
                                    <i class="fa fa-fw fa-gift"></i> Ürün Tanımları
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                İçerik
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-controller="Banners" asp-controller="Banners" asp-action="Index">
                                    <i class="fa fa-fw fa-cubes"></i> Tanıtım Görselleri
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="p-2 h4 border-bottom text-primary">
                <i class="fa fa-pen mr-1"></i>
                @ViewData["Title"]
            </div>
            <div class="flex-fill overflow-auto border-bottom shadow-sm">
                <div class="p-2">
                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <i class="fa fa-check"></i> @TempData["success"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="fa fa-times"></i> @TempData["error"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
            <div class="p-2 bg-white small d-flex justify-content-between">
                <div>
                    <b class="text-secondary">Theia</b>Commerce - &copy;@DateTime.Today.Year - Tüm hakları saklıdır
                </div>
                <div>
                    Version 1.0beta
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(() => {
            $('[data-controller=@ViewContext.RouteData.Values["controller"]').addClass('active')
        });
        var removeConfirm = Swal.mixin({
            icon: 'warning',
            title: 'Uyarı!',
            showCancelButton: true,
            cancelButtonText: '<i class="fa fa-times"></i> İptal',
            confirmButtonText: '<i class="fa fa-trash"></i> Sil',
            heightAuto: false
        });
    </script>
</body>
</html>
